{% extends 'base.html' %}
{% load static %}



{% block content %}
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">プレイヤー</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">全球団全選手</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                選手名簿
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>PlayerName</th>
                                            <th>Number</th>
                                            <th>TeamName</th>
                                            <th>Pit_Batt</th>
                                            <th>Career</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>PlayerName</th>
                                            <th>Number</th>
                                            <th>Team</th>
                                            <th>Pit_Batt</th>
                                            <th>Career</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for item in object_list %}
                                    {% if item.posi == '投手' %}
                                        <tr>
                                            <td><a href="{% url 'ap' item.pk %}">{{item.name_main}}</a></td>
                                            <td>{{item.uni_num}}</td>
                                            <td>{{item.team_n}}</td>
                                            <td>{{item.pit_bat}}</td>
                                            <td>{{item.old_school}}</td>
                                        </tr>
                                    {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
{% endblock content %}