{% extends 'base.html' %}
{% load static %}



{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">サイトの歩き方</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Site Step</li>
        </ol>
        <h4>お気に入りの選手の成績が見たい場合</h4>
        <p>･所属チームから探す</p>
        <h4>お気に入りのチームの成績が見たい場合</h4>
        <p></p>
        <h4>お気に入りのリーグの成績が見たい場合</h4>

        <h4>各項目のトップorワーストが見たい場合</h4>
        
        <h4></h4>
    </div>
</main>
{% endblock content %}