{% extends 'base.html' %}
{% load static %}



{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">サイトの歩き方</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Site Step</li>
        </ol>
        <h4>お気に入りの選手の成績が見たい場合</h4>
        <ul>
            <li>所属リーグ→チームから探す</li>
            <ul class="notpoint">
                <li class="my-2">個別成績→セorパ→所属チーム→個人成績→打者or投手成績→選手名を検索</li>
            </ul>
        </ul>
        <h4 class="pt-3">お気に入りのチームの成績が見たい場合</h4>
        <ul>
            <li>所属リーグから探す</li>
            <ul class="notpoint">
                <li class="my-2">個別成績→セorパ→所属チーム→チーム成績→打者or投手成績</li>
            </ul>
        </ul>
        <h4 class="pt-3">お気に入りのリーグの成績が見たい場合</h4>
        <ul>
            <li>リーグ全体成績へ</li>
            <ul class="notpoint">
                <li class="my-2">リーグ成績→両orセorパ→リーグ成績→打者or投手成績</li>
            </ul>
        </ul>
        <h4 class="pt-3">各項目のトップorワーストが見たい場合</h4>
        <ul>
            <li>リーグごと選手成績へ</li>
            <ul class="notpoint">
                <li class="my-2">リーグ成績→両orセorパ→個人成績→打者or投手成績→ソートしたい項目をクリック(野手デフォルトは打率順、投手は失点率順)</li>
            </ul>
        </ul>
        <h4></h4>
    </div>
</main>
{% endblock content %}