{% extends 'base.html' %}
{% load static %}



{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">関連サイト集</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Site Collection</li>
        </ol>
        <p><a href="https://i-no-diary.com/" target="_blank">アイノニッキ</a>：管理人の自由な日記(ブログ)</p>
        <p><a href="https://baseball.yahoo.co.jp/npb/" target="_blank">スポナビ</a>：管理人の愛用サイト</p>
        <p><a href="https://drive.google.com/drive/folders/1vj4_mcNXeeSogWgdRa1LNsEnuNSTm1bw?usp=sharing" target="_blank">グーグルドライブ</a>：管理人のまとめた元データ</p>
    </div>
</main>
{% endblock content %}