{% extends 'base.html' %}
{% load static %}



{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">It's Baseballへようこそ！！！</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Welcome to Site!!!</li>
        </ol>
        <p>まだまだ未完成なサイトですが、少しずつ実装を勧めていきたいと思います。</p>
        <p>打撃成績、投手成績共に元データに収集ミスがあるかもしれません。</p>
        <p>見つけ次第ご報告いただければと。</p>
        <br>
        <p>画面左のサイドバーより各ページをご覧ください。</p>
    </div>
</main>
{% endblock content %}