{% extends 'base.html' %}
{% load static %}



{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">コンタクト</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">コンタクト</li>
        </ol>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            
            {% for field in form %}
              <div>
                <label for="{{ field.id_for_label }}">
                  {{ field.label_tag }}
                </label>
                <div>
                  {{ field }}
                  {{ field.errors }}
                </div>
              </div>
            {% endfor %}
            <button type="submit">送信</button> 
            <p>入力していただいたEmailアドレスへ、同じ内容のメールが送られます。</p>
          </form>
    </div>
</main>
{% endblock content %}