{% extends 'base.html' %}
{% load static %}



{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">はじめに</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">はじめに</li>
        </ol>
        <div class="">
            <h3 class="my-3">野球好きの皆様へ</h3>
            <p>本サイト「It's Baseball」は、私「あいのうえ」がデータ収集、サイト設計など全てを担当しております。</p>
            <p>細かい修正など、すぐに対応させていただきますが、大きな機能の実装は時間がかかってしまう可能性があります。</p>
            <p>ですが、本サイトをより良いものにしていくために、一つでも多くの声をいただければと思います。</p>
            <p>どんな些細なことでも、欲しい機能や修正してほしい場所があれば、是非問い合わせやTwitterなどからお声かけよろしくお願いします。</p>
            <p>あいのうえより</p>
        </div>
    </div>
</main>
{% endblock content %}