{% extends 'base.html' %}
{% load static %}



{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">造語紹介</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">ぞうご</li>
        </ol>
        <p>SituationType:状況…、状況ですね</p>
        <p>OPS:長打率＋出塁率。得点創出力に関わるナウな指標</p>
        <p>Sw%:全球のうち、何球スイングしたか</p>
        <p>Co%:スイングした球のうち、何球バットに当たったか</p>
        <p>SSw%:ストライク限定Sw%</p>
        <p>SCo%:ストライク限定Co%</p>
        <p>BSw%:ボール限定Sw%</p>
        <p>BCo%:ボール限定Co%</p>
        <p>GO:ゴロアウトの数</p>
        <p>FO:フライアウトの数</p>
        <p>RO:ライナーアウトの数</p>
        <p>PperPA:打席のうち何球なげたか(ものによっては謎な数字に…申し訳ございません。)</p>
        <br>
        <p>その他よくわからない言葉があったら問い合わせorTwitterまでお願いします。</p>
    </div>
</main>

{% endblock content %}